.auth {
  background: #7691FF;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  button {
    padding: 8px 20px;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
  }
}
.login {
  background: #58FF73;
}
.logout {
  background: #FF3D3A;
}