.app-undo-redo {
  padding: 4px;
  background-color: transparent;
}
.txt-perform {
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 14px;
  color: #DB6B56;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 10px;
  text-align: center;
}
.input-txt {
  width: 85%;
  padding: 8px;
  color: #3e4242;
  margin-bottom: 10px;
}
.process-doc {
  font-size: 14px;
  color: #C0C8C8;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}
@mixin btn($bg, $right: 0) {
  color: #FFFFFF;
  padding: 4px 18px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: $bg;
  margin-right: $right;
}
.btn {
  &-undo {
    @include btn(#609ADB, 15px);
  }
  &-redo {
    @include btn(#9B90DB);
  }
  &-submit {
    @include btn(#3CDB51, 15px);
  }
  &-clear {
    @include btn(#6D736C);
  }
}