@charset 'UTF-8';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// 1. Configuration and helpers
@import 'abstracts/styles';
// 2. Vendors


// 3. Base stuff
@import 'base/base', 'base/typography';

// 4. MasterLayout-related sections

// 5. Components

// 6. Themes

